@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
}
p {
  color: hsl(0, 0%, 63%);
  font-size: 16px;
  line-height: 1.4;
}
/* ..............header ..........*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
}
.slider_container {
  position: relative;
  display: flex;
}
.slider__image--container {
  min-width: 45rem;
  height: 75vh;
  /* margin: 0 auto; */
  position: relative;

  /* IN THE END */
  overflow: hidden;
}
.slider__text--container {
  position: relative;
  overflow: hidden;
  min-width: 30rem;
}

.slide {
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.text-content {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: 75vh;
  padding: 50px 35px;
  margin-left: 50px;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-content h1 {
  margin-bottom: 20px;
  font-weight: 700;
}
.slider__text--container p {
  margin-bottom: 25px;
}
.slider__text--container span {
  display: flex;
  align-items: center;
  padding: 2px;
}
.slider__text--container span:hover svg,
.slider__text--container span:hover h3 {
  fill: hsl(0, 0%, 63%);
  color: hsl(0, 0%, 63%);
}
.slider__text--container span h3 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 5px;
  margin-right: 30px;
  font-size: 18px;
}
.button {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  cursor: pointer;
}
.button .arrow_img {
  width: 100%;
  padding: 10px 25px;
}
.button .arrow_img:hover {
  background-color: hsl(0, 0%, 63%);
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid_1 {
  grid-area: 1/1/3/3;
}
.grid_2 {
  grid-area: 1/3/3/6;
}
.grid_3 {
  grid-area: 1/6/3/8;
}
main .about-details {
  padding: 30px;
}
main .about-details h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
.nav {
  position: fixed;
  top: 35px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 2rem;
  margin-left: 60px;
  z-index: 1000;
}
.hamburger {
  display: none;
}
.nav img {
  max-width: 5px;
  height: 5px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
li {
  list-style: none;
  margin-right: 30px;
}

li:hover {
  padding-bottom: 4px;
  border-bottom: #fff 1px solid;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
